.book{
    position:fixed;
    right: 0;
    top: 30%;
}
.wpp{
    position:fixed;
    z-index: 4;
    right: 0;
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: #4AAA4D;
    border-radius: 8px;
    transition: 1s;
}
.face{
    position:fixed;
    z-index: 3;
    right: 0;
    top: 41%;
    width: 50px;
    height: 50px;
    background-color: #1773EA;
    border-radius: 8px;
    transition: 1s;
}
.insta{
    z-index: 2;
    position:fixed;
    right: 0;
    top: 42%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 8px;
    transition: 1s;
}
.bi-arrow-return-right{
    display: flex !important;
    margin: 0 !important;
    font-size: 30px;
    color: black;
    z-index: 1;
    position:fixed;
    right: 8px;
    top: 42%;
}
.wpp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wpp img{
    width: 90%;
}
.face{
    display: flex;
    align-items: center;
    justify-content: center;
}
.face img{
    width: 80%;
}
.insta{
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta img{
    width: 100%;
}